<!-- START BREADCRUMB -->
<div class="row headerFix" style="background-color: #e8e8e8">
<ul class="breadcrumb">
       <li><a ui-sref="home.user.viewusers" ui-sref-opts="{reload:true}" class="cursor-point">List Of Users</a></li>
    <li><a ui-sref="home.userassignment.division" ui-sref-opts="{reload:true}" class="cursor-point">User Dashboard</a></li>
    <li class="active">Group Assignment</li>
</ul>
</div>
<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<!--<div class="page-title">
    <div class="row">
        <div class="col-sm-6">
            <h2> Group Assignment</h2>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-10">
                    <span class="fa fa-3x"></span>
                </div>
                <div class="col-sm-2">
                    <div class="">
                        <span class="fa fa-arrow-circle-o-left fa-3x return-to-user-list-icon cursor-point" ui-sref="home.user.viewusers"></span>
                        <p class="return-to-user-list pull-right">Users List</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- END PAGE TITLE -->

<!-- START USER DATA -->
<div class="page-title pageTitleForHeaderFix">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <label class="user-name">{{userDetails.userName}}</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="organization-name">{{organization.organizationName}}</label><br>
                </div>
            </div>
        </div>
    </div>
    <hr class="horizontal-line">
</div>
<!-- END USER DATA -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">

        <!-- START OF RIGHT PANEL -->
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">

                <div class="row groupsMainDiv">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    <h3>Unassigned Group(s)</h3>
                                </p>
                                <div class="panel panel-default customGroupPanel">
                                    <div class="panel-body panel-body-search">

                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                            <input type="text" class="form-control" placeholder="Search..." ng-model="searchunassignedlist">
                                        </div>
                                    </div>
                                </div>
                                <!-- LOGIN WIDGET -->
                                <div class="panel panel-default customGroupPanel">
                                    <div class="panel-body">

                                        <!--<div class="">
                                            <select size="2" class="form-control hide-scroll" ng-model="unAssignedCheck" ng-change="checkToggleUnAssigned(unAssignedCheck)">
                                             <option value="check" ng-click="checkToggleUnAssigned(unAssignedCheck)" class="fa check-style" style="display:inherit;"> &#xf00c;&nbsp;Check all</option>
                                              <option value="uncheck" ng-click="checkToggleUnAssigned(unAssignedCheck)" class="fa check-style" style="display:inherit;">&#xf00d;&nbsp;Uncheck all</option>
                                     </select>

                                        </div>-->
                                        <div class="">
                                            <div class="form-control hide-scroll selectl" ng-model="unAssignedCheck"  ng-change="checkToggleUnAssigned(unAssignedCheck)">
                                                
                                                <div class="selectallcheck" checklist-model="unAssignedCheck" checklist-value="unAssignedCheck" ng-change="checkToggleUnAssigned(unAssignedCheck)">
                                                     <input type="checkbox" ng-click="checkToggleUnAssigned(unAssignedCheck)" class="selectallcheckboxunassigngroup" > Select All
                                               
                                            </div>
                                            </div>
                                        </div>
                                        <div class="selectlist">
                                        <span class="form-control" style="overflow:auto">
                                                <div ng-repeat="group in unassignedgrplist | filter : searchunassignedlist">
      <input type="checkbox"  checklist-model="unassignedSelectedGroup.groups" checklist-value="group"> {{group.groupName}}
    </span>
                                    </div>
                                            <!--<select multiple="" size="10" class="form-control" ng-multiple="true" ng-model="unassignedSelectedGroup" ng-options="group as group.groupName for group in unassignedgrplist | filter : searchunassignedlist | orderBy : 'groupName'">
                                             
                                        </select>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    <h3>Assigned Group(s)</h3>
                                </p>
                                <div class="panel panel-default customGroupPanel">
                                    <div class="panel-body panel-body-search">

                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                            <input type="text" class="form-control" placeholder="Search..." ng-model="searchassignedlist">
                                        </div>
                                    </div>
                                </div>
                                <!-- LOGIN WIDGET -->
                                <div class="panel panel-default customGroupPanel">
                                    <div class="panel-body">

                                        <!--<div class="">
                                            <select size="2" class="form-control hide-scroll" ng-model="assignedCheck" ng-change="checkToggleAssigned(assignedCheck)">
                                             <option value="check" ng-click="checkToggleAssigned(assignedCheck)" class="fa check-style" style="display:inherit;"> &#xf00c;&nbsp;Check all</option>
                                             <option value="uncheck" ng-click="checkToggleAssigned(assignedCheck)" class="fa check-style" style="display:inherit;">&#xf00d;&nbsp;Uncheck all</option >
                                          </select>
                                        </div>-->
                                        <div class="">
                                            <div class="form-control hide-scroll selectl" ng-model="assignedCheck" ng-change="checkToggleAssigned(assignedCheck)">
                                                
                                                <div class="selectallcheck" ng-model="assignedCheck" ng-change="checkToggleAssigned(assignedCheck)">
                                                     <input type="checkbox" ng-click="checkToggleAssigned(assignedCheck)" class="selectallcheckboxassigngroup" > Select All
                                               
                                            </div>
                                            </div>
                                        </div>
                                        <div class="selectlist">
                                        <span class="form-control" style="overflow:auto">
                                                <div ng-repeat="group in assignedgrplist | filter : searchassignedlist" >
      <input type="checkbox"  checklist-model="assignedSelectedGroup.groups" checklist-value="group"> {{group.groupName}}
    </span>
                                    </div>
                                        <!--<div class="">
                                            <select multiple="" size="10" class="form-control" ng-model="assignedSelectedGroup" ng-options="group as group.groupName for group in assignedgrplist |filter : searchassignedlist | orderBy : 'groupName'">
                                            
                                        </select>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-2 text-center">
                                <span title="Click to assign role" ng-click="assignitem(unassignedSelectedGroup.groups)"><i class="fa fa-chevron-right fa-2x cursor-point" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-sm-2 text-center">
                                <span title="Click to unassign role" ng-click="unassignitem(assignedSelectedGroup.groups)"><i  class="fa fa-chevron-left fa-2x cursor-point" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-4 col-sm-12 text-center button-margin">
                        <button type="button" class="btn btn-success" ng-click="savegroup()">Save</button>
                        <button type="button" class="btn btn-danger mb-control group" ui-sref="home.userassignment.division">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- END OF RIGHT PANEL -->
        </div>
    </div>

</div>
<!-- PAGE CONTENT WRAPPER -->

<!-- MESSAGE BOX-->
<!--<div class="message-box animated fadeIn group" data-sound="alert" id="group-confirm">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa "></span> <strong>Confirm</strong>!</div>
            <div class="mb-content">
                <p>Are you sure you want to cancel?</p>
                <p>Press No if you want to continue work. Press Yes to go to user dashboard.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a class="btn btn-success btn-lg" ui-sref="home.userassignment.division">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- END MESSAGE BOX-->