<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} %-5p [%c{1} - %L] - %m%n" />
		</layout>
	</appender>

	<appender name="RollingAppender" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="append" value="true" />
	    <!-- <param name="maxFileSize" value="10MB" /> -->
	    <param name="maxBackupIndex" value="180" />
	    <param name="File" value="${catalina.home}/TF_ADMIN_Logs/Admin.log" />
	    <param name="DatePattern" value="'.'dd-MM-yyyy" />
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{dd-MM-yyyy HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>

	 <!-- <root>
        <priority value="DEBUG"/>
        <appender-ref ref="RollingAppender" />
    </root> -->
    <root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="RollingAppender" />
	</root>
</log4j:configuration>