<style>
    #mydiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 123;
        background-color: grey;
        opacity: 0;
    }
    
    .ajax-loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -32px;
        /* -1 * image width / 2 */
        margin-top: -32px;
        /* -1 * image height / 2 */
        display: block;
        opacity: 1;
    }
    
    .control-label{
		text-align: left !important;
	}
</style>
<div class="row" ng-controller="CreateUserController">
    <div class="col-md-12">
        <div class="modal" id="modal_large" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form name="createUserForm" id="createUserForm" ng-submit="createUserForm.$valid && submitRegdForm()" class="form-horizontal"
                        role="form" novalidate>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>New User Registration</strong></h3>
                                <ul class="panel-controls">
                                    <li><button type="button" id="close-modal" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="panel-body newuser">
                                    <div class="form-group ">
                                        <label for="userName" class="control-label col-md-3">User Name<em>*</em></label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="email" ng-pattern="/^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}*\.[A-Za-z]{2,5}$/" ng-model-options="{ allowInvalid: true }" ng-model="user.userName" name="userName" id="uName"
                                                    class="form-control" maxlength="50" required />
                                                <div ng-show="createUserForm.$submitted">
                                                    <small class="error" ng-show="createUserForm.userName.$untouched && createUserForm.userName.$error.required">
										User name is required </small>
                                                    <small class="error" ng-show="createUserForm.userName.$touched && createUserForm.userName.$invalid"> Enter a
										valid Username </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fisrtName" class="control-label col-md-3">First	Name <em>*</em></label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" allow-pattern="[a-z]" ng-model="user.firstName" name="fName" id="fName" class="form-control ng-valid-email ng-valid ng-valid-pattern"
                                                    maxlength="25" required />
                                                <div ng-show="createUserForm.$submitted">
                                                    <small class="error" ng-show="createUserForm.fName.$error.required"> First
										name is required </small>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middleName" class="control-label col-md-3">Middle Name</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" ng-model="user.middleName" name="mName" id="mName" maxlength="100" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName" class="control-label col-md-3">Last Name<em>*</em></label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" allow-pattern="[a-z]" ng-model="user.lastName" name="lName" id="lName" class="form-control" maxlength="25" required />
                                                <div ng-show="createUserForm.$submitted">
                                                    <small class="error" ng-show="createUserForm.lName.$error.required"> Last Name is required </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Email" class="control-label col-md-3">Email<em>*</em></label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="email" ng-pattern="/^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}*\.[A-Za-z]{2,5}$/" ng-model="user.email" name="uEmail" id="uEmail"
                                                    class="form-control ng-valid-email ng-valid ng-valid-pattern" maxlength="50"
                                                    required />
                                                <div ng-show="createUserForm.$submitted">
                                                    <small class="error" ng-show="createUserForm.uEmail.$untouched && createUserForm.uEmail.$error.required"> Email
										is required </small> <small class="error" ng-show="createUserForm.uEmail.$touched && createUserForm.uEmail.$invalid"> Enter a
										valid email </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Mobile" class="control-label col-md-3">Phone<em>*</em></label>
                                        <div class="col-md-6 col-xs-12">
                                            <!--<div class="input-group">
                                                <input type="text" ng-model="user.phoneNumber" name="mobile" id="mobile" class="form-control phone" allow-pattern="\d" maxlength="50"
                                                    ng-intl-tel-input required />
                                                <div ng-show="createUserForm.$submitted">
                                                    <small class="error" ng-show="createUserForm.mobile.$error.required"> Phone	number is required </small>
                                                </div>
                                            </div>-->
                                            <div class="input-group">
                                                <!--<label for="tel">Telephone number</label>-->
                                                <input type="text" maxlength="50" required class="form-control" id="mobile" name="mobile" ng-model="user.phoneNumber" ng-intl-tel-input>
                                                <div ng-show="createUserForm.$submitted">
                                                    <small class="error" ng-show="createUserForm.mobile.$untouched && createUserForm.mobile.$error.required">Phone number is required</small>
                                                    <small class="error" ng-show="createUserForm.mobile.$touched && createUserForm.mobile.$invalid">Phone number is invalid</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Company" class="control-label col-md-3">Company</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" ng-model="user.companyName" name="company" id="company" class="form-control" maxlength="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Customer Account" class="control-label col-md-3">Customer Account </label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" ng-model="user.customerAccount" name="customeraccount" id="customeraccount" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="divisions" class="control-label col-md-3">Division(s)<em>*</em></label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <div ng-dropdown-multiselect="" id="userDivision" name="userDivision" options="divisionList" selected-model="user.userDivision"
                                                    translation-texts="customTexts" extra-settings="userDivision" checkboxes="true"
                                                    class="rk-btn"></div>
                                                <div ng-show="createUserForm.$submitted">
                                                    <small class="error" ng-if="user.userDivision==''">
										Division is required </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="divisions" class="control-label col-md-3">Language<em>*</em></label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <!--<input type="text" class="form-control ng-valid ng-dirty" ng-model="searchKeyword">
                                                <select class="form-control" id="userLanguage" name="userLanguage" ng-model="user.userLanguage" required>
									                    <option value="">-- Select language --</option>
                                                <option value="{{language.languageId}}" ng-repeat='language in languageList | filter: searchKeyword'>{{language.languageDescription}}</option>
                                                </select>
                                                <div ng-show="createUserForm.$submitted">
                                                    <small class="error" ng-show="createUserForm.userLanguage.$error.required">
										Language is required </small>
                                                </div>-->
                                                <ui-select ng-required="true" class="form-control ng-valid ng-dirty" on-select="languageSelected($select.selected)" style="border:none;padding:0px;" name="userLanguage"
                                                    ng-model="userLanguage" theme="select2" title="Select language" id="userLanguage" required>
                                                    <ui-select-match placeholder="Language">{{$select.selected.languageDescription}}</ui-select-match>
                                                    <ui-select-choices repeat="language in languageList | propsFilter: {languageDescription: $select.search}">
                                                        <div ng-bind-html="language.languageDescription | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <div ng-show="createUserForm.$submitted">
                                                    <small class="error"  ng-if="user.userLanguage==''">
                                            Language is required </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <form>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading ui-draggable-handle">
                                                    <h3 class="panel-title"><span class="fa fa-book"></span> Notes</h3>
                                                    <div class="pull-right">
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="messages messages-img">
                                                        <div class="item in item-visible">
                                                            <textarea placeholder="Write your notes here" ng-model="user.notes" name="notes" id="notes" class="form-control new-user-notes"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <!-- BUTTONS -->
                                <div class="button pull-right">
                                    <!-- REGISTER BUTTON -->
                                    <input type="submit" class="btn btn-success load_button" value="Register" />
                                    <!-- CANCEL BUTTON -->
                                    <input type="button" data-dismiss="modal" class="btn btn-danger" id="cancel" name="cancel" value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE CONTENT WRAPPER -->
<!--<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span></span>-->
<!--<button class="btn btn-default" data-toggle="modal" data-target="#modal_large">Add User</button>-->
<!--<div class="text">
                                                                    <div class="heading">
                                                                        <a href="#">John Doe</a>
                                                                        <span class="date">08:33</span>
                                                                    </div>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                                                                </div>-->
<!--<div class="item item-visible">
    
                                                                <div class="text">
                                                                    <div class="heading">
                                                                        <a href="#">Dmitry Ivaniuk</a>
                                                                        <span class="date">08:27</span>
                                                                    </div>
                                                                    Quisque ultricies turpis pulvinar lectus semper, eget fringilla purus tincidunt.
                                                                </div>
                                                            </div>-->
<!--<div class="item in item-visible">
    
    
                                                                <div class="text">
                                                                    <div class="heading">
                                                                        <a href="#">John Doe</a>
                                                                        <span class="date">08:25</span>
                                                                    </div>
                                                                    Fusce dictum mauris quis velit cursus, consectetur tempor justo volutpat.
                                                                </div>
                                                            </div>-->
