/* This is the stylesheet of role page
   
   @author Mithun Sathyan
 */
/* @CHARSET "UTF-8";

.panel-role {
	margin-left: 100px;
	width: 682px;
	margin-top: 120px;
	border: 0px transparent;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#panelMain {
		margin-top: 26px;
	margin-left: 400px;
	margin-left: -54px;
	margin-top: -42px;
	margin-left: 221px;
	width: 964px;
	border-color: white;
	margin-left: 25px;
}

#unassignedRolesBox {
	width: 273px;
	margin-left: -1px;
	height: 350px;
}

#assignedRolesBox {
	width: 273px;
	margin-left: -56px;
	margin-top: -1px;
	height: 350px;
}

#unAssignedRolesLabel {
	margin-left: -1px;
	margin-top: 100px;
}

#assignedRolesLabel {
	margin-left: -56px;
	margin-top: 112px;
}

.btn-role {
	width: 50px;
	margin-left: 118px;
}

#moveright {
	margin-top: 53px;
	width: 152px;
	margin-top: 81px;
	margin-left: 152px;
	width: 100px;
	margin-top: 155px;
}

#moverightall {
	margin-top: 53px;
	margin-left: -2px;
	width: 100px;
		margin-top: 81px;
	margin-left: -2px;
	margin-top: 156px;
}

#moveleft {
	margin-top: 1px;
	margin-left: 118px;
	margin-top: 1px;
	margin-left: 0px;
	width: 152px;
	margin-top: 1px;
	 margin-left: 0px;
	width: 100px;
	margin-left: 152px;
}

#moveleftall {
	margin-top: 2px;
	margin-left: -2px;
	margin-top: 1px;
	margin-left: -2px;
	width: 100px;
}

#division {
	margin-left: 15px;
}

#rowSecondary {
	margin-top: 8px;
}

#saveButton {
		margin-top: 50px;
	margin-left: 226px;
	width: 100px;
	margin-top: 50px;
	width: 100px;
	margin-left: 378px;
}

}
#cancelButton {
	margin-top: 50px;
	width: 100px;
	margin-left: -2px;
	margin-left: 20px;
	
}

#manageUserLabelDivision {
	margin-top: 120px;
	margin-left: -69px;
	margin-top: 120px;
	margin-left: 38px;
}

#backToUserListDivision {
	margin-top: 120px;
	margin-left: 310px;
	margin-top: 120px;
	margin-left: 310px;
	margin-left: 222px;
} */