<div class="container-fluid">

	<div class="row ">
		<div class="col-sm-6">
			<ul class="breadcrumb">
				<li><a href="">Home</a></li>
				<li><a href="" ng-click="backToUserList()">List of Users</a></li>
				<li><a href="" ui-sref="usermgmt.divisionassignment">User Dashboard</a></li>
				<li class="active">Role Management</li>
			</ul>
		</div>
		<div class="col-sm-6 text-right" id="backToUserLink">
			<span ng-click="backToUserList()" style="cursor: pointer; pointer-events: all;"> <i
						class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></span>
			<span style="float: right;margin-top: 5px;">User list</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3 style="margin-left:15px;color:#00BFFF">{{selectedUser}}</h3><br>
		</div>
		<div class="col-sm-6">
			<!--<div class="col-sm-offset-8 col-sm-2">
				<div class="row">
					<span title="Click to download customer report" ng-click="downloadresult()" style="cursor: pointer; pointer-events: all;"><i
						class="fa fa-download fa-2x" aria-hidden="true"></i></span>
				</div>
				<div class="row">
					<span>Download</span>
				</div>
			</div>-->
			<!--<div class="col-sm-offset-10 col-sm-2">
				<div class="row">
					<span title="Click to assign customer" ui-sref="usermgmt.user.updateuser" style="cursor: pointer; pointer-events: all;"><i
						class="fa fa-user fa-2x" aria-hidden="true"></i></span>
				</div>
				<div class="row">
					<span>Edit User</span>
				</div>
			</div>-->
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<hr class="hr1">
		</div>
	</div>














	<!--<div class="panel " id="panelStart">
		<div class="panel-heading ">
			<div class="row ">
				<div class="col-sm-3 edit">
					<label ng class="user" id="userLabel">User : <a
						ng-click="backToDivision()"
						style="cursor: pointer; pointer-events: all;" id="userName">{{selectedUser}}</a></label> <a href="" ui-sref="usermgmt.user.updateuser"
						class="anchor"><span class="glyphicon glyphicon-edit"></span></a>
				</div>
				<div class="col-sm-6 ">
					<div class="headingFont text-center" id="mainLabelRole">Role Management
					</div>
				</div>
				<div class="col-sm-3 text-right" id="backToUserLink">
					<a ng-click="backToUserList()" style="cursor: pointer; pointer-events: all;" class="anchor">Back
						to user list</a>
				</div>
			</div>
		</div>
	</div>-->
	<!--<div class="row">
		<div class="col-md-3 subheading divname">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-sitemap"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Division:</span> <span class="info-box-number">{{orgName}}</span>
				</div>
			</div>
		</div>
	</div>-->
	<div class="row" id="rowPrimaryRole">
		<div class="col-sm-3 subheading divname">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-sitemap"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Division:</span> <span class="info-box-number">{{orgName}}</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div id="panelMain" class="panel ">
				<div id="division" "></div>
				<div class="panel panel-body ">
					<div class="row " id="rowSecondary ">
						<div class="col-sm-5 " id="unassignedRoleColumn ">
							<label id="unAssignedRolesLabel ">Unassigned Role(s)</label>
							<div class="row ">
								<div class="col-md-12 ">
									<div class="inner-addon right-addon ">
										<i class="glyphicon glyphicon-search "></i> <input type="text "
											class="form-control " placeholder="Search "
											ng-model="searchParam " />
									</div>
								</div>
							</div>
							<select ng-change="toggleSelection() "
								ng-model="toggleSeleted " size="3 " >
								<option value="check ">Check All</option>
								<option value="uncheck ">Uncheck All</option>
							</select>
							<select id="unassignedRolesBox "
								ng-click="changeinleft(unassignedrole) " multiple
								ng-model="unassignedrole " size="7 " ng-selected="isRoleSelected(role) "								
								ng-options="role as role.roleName for role in unassignedrolelist | filter : searchParam | orderBy : 'roleName' "></select>
						</div>
						<div class="col-sm-2 ">
							<div class="row text-center " id="rolesButtonRow ">
								<div class="col-sm-12 rolesButtonRow ">
									<div class="row " id="innerRowOne ">
										<div class="col-sm-6 ">
											<input class="btn btnarrow btn-primary " id="addSingleButton " title="Add "
												type="button " value=">" style=" font-weight: bolder;font-size: 20px;padding-top: 0px;"ng-click="assignitem(unassignedrole)" />
				</div>
			</div>
			<div class="row" id="innerRowTwo">
				<div class="col-sm-6">
					<input class="btn btnarrow btn-primary" title="Remove" type="button" id="removeSingleButton" value="<" ng-click="unassignitem(selectedrole)"
					/>
				</div>
				<!--<div class="col-sm-6">
					<input class="btn btnarrow btn-primary" title="Remove All" type="button" id="removeAllButton" value="<<" ng-click="unassignall()"
					/>
				</div>-->
			</div>
		</div>
	</div>
</div>
<div class="col-sm-5" id="assignedRoleBoxDivision">
	<label id="assignedRolesLabel">Assigned Role(s)</label>
	<div class="row">
		<div class="col-md-12">
			<div class="inner-addon right-addon">
				<i class="glyphicon glyphicon-search"></i> <input type="text" class="form-control" placeholder="Search" ng-model="searchParamRight"
				/>
			</div>
		</div>
	</div>
	<!-- <select id="assignedRolesBox" multiple ng-model="selectedrole"
								ng-options="role as role.roleName for role in assignedrolelist | filter : searchParamRight"
								size="7" ng-click="changeinleft(selectedrole)"></select> -->
	<select ng-change="toggleSelectedSelection()" ng-model="toggleSeletedSelection" size="3" style="">
								<option value="check">Check All</option>
								<option value="uncheck">Uncheck All</option>
							</select>
	<select id="assignedRolesBox" multiple ng-model="selectedrole" ng-selected="isRoleSelectedSelection(role)" ng-options="role as role.roleName for role in assignedrolelist | filter : searchParamRight | orderBy : 'roleName'"
		size="7" ng-click="changeinleft(selectedrole)" style="height:auto;"></select>
</div>
</div>
<div class="row" id="rowTertiaryGroup">
	<div class="col-md-6 ">
		<input type="submit" id="saveButtonGroupAssignment" class="pull-right btn btn-success" title="save" ng-click="saverole()"
			value="Save" />
	</div>
	<div class="col-md-6">

		<input type="reset" ng-click="cancel()" id="cancelButtonGroupAssignment" class=" pull-left btn btn-danger" title="cancel"
			value="Cancel" />
	</div>
</div>
</div>
</div>
</div>
<div class="col-sm-12">
	<div class="container">
		<div class="row ">
			<div class="col-sm-offset-1 col-sm-10">
				<label id="permissionLabel">Permissions :</label> <select id="permissionTextArea" multiple ng-model="selected" ng-options="permission as permission.permissionName for permission in permissionslist"
					size="7"></select>
			</div>
		</div>
	</div>
</div>
</div>

</div>