.verticalline {
    border-right: 2px solid #e5e5e5;
}

.custom-panel {
    border-top: 2px solid #000;
}

.panel-body .form-group {
    margin-bottom: 15px !important;
}

.searchbtn {
    font-size: small;
    background-color: #9ea0a2;
    border-color: #9ea0a2;
    font-weight: bold !important;
}

@media (min-width: 768px) {
    .machine-filter-searchbtn-padding {
        padding-top: 48px;
    }
}
@media (min-width: 768px) {
    .cutomer-filter-search-padding {
        padding-top: 45px;
    }
}

.return-to-user-list {
    margin-bottom: 0px;
    margin-top: 10px;
}
.return-to-user-list-icon{
    margin-left: 20px;
}

.user-name{
    font-size: 20px;
    font-weight: 400;
    color:#00BFFF;
    /*margin-left: -10px;*/
}
.organization-name{
    font-size: 15px;
    /*margin-left: -10px;*/
}
.available-catalog{
    font-size: 15px;
    
}
.assigned-catalog{
    font-size: 15px;
}
.result-to-show{
    font-size: 15px;
}
.cursor-point{
    cursor: pointer; 
    pointer-events: all;
}
.filter-icon{
    margin-top: 20px;
    /*margin-left: 17px;*/
}

/*START OF DIVISION SREEN CSS*/
.horizontal-line{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #1b1e24 !important;
}
.last-active-date{
    font-size: 15px;
}
/*END OF DIVISION SREEN CSS*/

.modal.bootstrap-dialog.type-primary.fade.size-normal.in .modal-backdrop{
    z-index: 0 !important;
}
/*.checkpositioncustomer {
    margin: 2px -32px 0px !important;
}
.checkpositionmachine {
    margin: 2px -48px 0px !important;
}*/
.row .text-center .filter-icon .userfilter{
    margin-top: 10px;
}